zone "okd.local" {
    type master;
    file "/etc/named/zones/db.okd.local"; # zone file path
};

zone "{{ named_zone_db }}.in-addr.arpa" {
    type master;
    file "/etc/named/zones/db.{{ named_zone_db }}";  # {{ okd_network }} subnet
};
