#!/usr/bin/env bash
set -u
# Set CPU fan speeds for use in-office every 10 minutes.
#  From: https://www.reddit.com/r/homelab/comments/aa3xj7/ibm_systemx_3650_m2_fan_speed_control/
# Install the "ipmitool" package.
# # ipmitool raw 0x3a 0x07 0x01 0x10 0x01
#   fields:       A    B    C    D    E
#     C : 0x01..0x02 = Cooling zone
#     D : 0x00..0xff = Fan speed
HOUR=$(date +%H | sed 's/^0//g')
if [[ ${HOUR} -gt 23 || ${HOUR} -lt 8 ]] ; then
  # Faster/cooler at night
  SPEED=0x60  # 0x60 == 96 :: 96/255 = 37.65%
else
  # Queiter during work hours
  SPEED=0x20  # 0x20 == 32 :: 32/255 = 12.55%
fi
for X in 0x00 0x01 0x02 ; do
  /usr/bin/ipmitool raw 0x3a 0x07 ${X} ${SPEED} 0x01 > /var/tmp/ipmitool.${X}.out 2>&1
done

